/* @import "./normalize.css";  /**引入normalize.css/ */

/*:root -> 获取根元素html*/
/* #e42f14 */
:root {   
  --color-text: #333;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
  --color-active:#e42f14;
  --color-border:#eee;
}

*,
*::before,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color:var(--color-text);
  /* rem vw/vh */
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
}
ul,li{ list-style: none;}
a,input{display: block;}
img{display: block; border:0;}

input,input:focus{ border:none; outline:medium;}

a {
  color: var(--color-text);
  text-decoration: none;
}




.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
/* 以下为更改vant ui库的默认样式 */

/*1、 Navbar 和tab标签样式 */
.van-nav-bar{
background-color:var(--color-active);
}
.van-nav-bar__title{
  color: var(--color-background);
}
.van-nav-bar .van-icon{
  color: var(--color-background);
}
.van-nav-bar__text{
  color: var(--color-background);
}
.van-tabs__line{
  background-color:var(--color-active);
}
/* card  商品列表信息 */
.van-card__price{
  color: var(--color-active);
}
#text{
  color: #fafafa;
}